{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsam voluptatibus eaque consectetur corporis numquam quisquam dignissimos illum voluptates non, dolorum dolores adipisci vel! Autem architecto inventore modi repellendus quibusdam!</p>
        <button class="btn btn-warning">На страницу про нас</button>
      
      
      
        <!-- {% for el in values %}
            <p>{{ el }}</p>
        {% endfor %} -->
    </div>
{% endblock %}